#page-header {
  display: flex;
  background: #fff;
  border-bottom: solid 3px #e8e8e8;
  height: 95px;
  justify-content: space-between;
  align-items: center;

  & > div:first-child {
    display: flex;
    align-items: center;
    margin-left: 100px;
  }

  & > div:last-child {
    border-radius: 50%;
    padding: 0.5rem;
    border: 1px solid #e8e8e8;
    color: #0290ff;
    margin-right: 44px;
  }

  .disabled-icon {
    opacity: 0.7;

    &:hover {
      cursor: not-allowed;
    }
  }
}

#page-nav {
  display: flex;

  .nav-link {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin-left: 87px;

    &.disabled {
      color: #b5b5b5;

      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
